.material {
    width: 960px;
    background: #ffffff;
    border: #dddddd solid 1px;
    margin: auto;
    padding: 15px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    color: #777777;
    line-height: 1.5;
}

.materialheader {
    color: #4aaaa5;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    margin-bottom: 20px;
    border-bottom: #cccccc solid 3px;
    font-size: 30px;
}

h3 {
    color: #777777;
}

#nameinput, #emailinput, #messageinput {
    margin-bottom: 20px;
}

#messageinput {
    height: 200px;
    width: 60%;
}

#footerpadding {
    padding-bottom: 100px;
}